.main {
    background: #fff url("/assets/images/home.png") no-repeat right bottom;
    background-size: 70vw;
    height: 80vh;
    margin-top: 10vh;
}

.internshala {
    position: fixed;
    bottom: 10vh;
    left: 10vw;
}
